*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
}

.app{
  background-image: url('./images/cold-bg.jpg');
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease-out;
}

.app.warm{
  background-image: url('./images/warm-bg.jpg');
}


main{
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.75));
  padding: 25px;
}

.search-box{
  width: 100%;
  margin: 0 0 75px;
  justify-content: center;
  display: flex;
}

.search-box .search-bar{
  display: block;
  width: 80%;
  padding: 10px;

  appearance: none;
  border: none;
  background: none;
  outline: none;

  background-color: rgba(240, 255, 255, 0.541);
  border-radius: 05px;
  box-shadow:  1px 1px rgba(0, 0, 0, 0.616);
  font-size: 10px;
  transition: all 0.3 ease;
}

.location-box .location{
  color: white;
  font-size: 26px;
  font-weight: 500;
  text-align: center;
  text-shadow: 1px 1px black;
  margin-top: -50px;
}

.location-box .date{
  color: white;
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
  text-align: center;

}

.weather-box{
  text-align: center;
}

.weather-box .temp{
  position: relative;
  display: inline-block;
  margin: 30px auto;
  color: yellow;
  background-color: rgba(230, 230, 230, 0.295);
  border-radius: 5px;

  padding: 15px 25px;

  color: white;
  font-size: 50px;
  font-weight: 900;

  text-align: center;

  text-shadow: 1px 2px rgb(0, 0, 0);
  box-shadow: 2px 3px #0000002f;
}

.weather-box .weather{
  color: white;
  font-size: 32px;
  font-weight: 700;
  text-shadow: 2px 2px black;
}